/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
//@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
$base-font: "Industry";
$title-font: "Montserrat", "sans-serif";

$bg-grey: #F1F1F1;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }


// Font-size and line-height
$base-size: 14px;
$base-height: 1.2;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$dark-blue: #082947;
$emerald: #15DEB0;
$base: #222;




